<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Smart Ev</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/index.css" />
		<link rel="stylesheet" href="/stylesheets/devices.css" />
		<script src="/javascripts/devices.js"></script>
	</head>
	<body>
		<div class="main">
			<div class="navbar">
				<a class="navbar-brand" href="/">SMART EV</a>
				<ul class="nav">
					<li class="list-item">
						<a class="nav-link" href="/devices/">devices</a>
					</li>
					<li class="list-item">
						<a class="nav-link" href="/devices/new">register</a>
					</li>
				</ul>
			</div>
			<div class="device_list">
				<div class="device_list_container" id="device_list_container"></div>
			</div>
		</div>
	</body>
</html>
